.navbar-menu .navbar-menu-main-item-wrapper {
    background: #fff;
    padding: 8px;
    width: 80px;
    height: 80px;
    position: relative;
}

.navbar-menu-main-item{
    z-index: 2;
}

/* Menu item active states */
.navbar-menu-item {
    transition: all 0.3s cubic-bezier(.46,0,.12,1);
}

.navbar-menu-item.active .navbar-menu-text {
    color: #4E2A18;
    font-weight: 700;
    font-size: 12px;
}

.navbar-menu-main-item-wrapper::before{
    content: "";
    background: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -0.5px;
    left: -23.6px;
    box-shadow: 19px 19px #fff;
}

.navbar-menu-main-item-wrapper::after{
    content: "";
    background: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -0.5px;
    right: -23.6px;
    box-shadow: -19px 19px #fff;
}